body {
    display: flex;
    flex-direction: column;
}

.main-title {
    align-self: center;
    color: green;
}

.bible-img {
    max-width: fit-content;
    align-self: center;
}

.buttons-and-lists {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;

}

.nav {
    display: flex;
    justify-content: space-around;
}

.current-reading-list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

.buttons-list {
    display: flex;
    flex-direction: column;
}

.verse-list-item {}